.level-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    grid-row-gap: 1.5em;
    margin: 1em 4em;
}

.level-buttons button {
    border: solid 5px rgb(59, 148, 59);
    border-radius: 10px;
    font-size: 2em;
    font-weight: 600;
    height: 2.5em;
    width: 2.5em;
}

.level-buttons button:focus {
    background-color: rgb(85, 212, 98);
    color: maroon;
    /* font-size: 1.85em; */
    /* height: 2.4em; */
    /* width: 2.5em;  */
}


.hidden {
    visibility: hidden;
}

/* Play component */
.answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

.answer-buttons button {
    border: solid 5px rgb(59, 148, 59);
    border-radius: 10px;
    font-size: 2em;
    font-weight: 600;
    height: 2.5em;
    margin: 1em;
    width: 2.5em;
}


.questions {
    /* background-color: lightsalmon ; */
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    padding: 0.5em;
    width: 35vw;
}

.play-buttons {
    background-color: rgb(59, 148, 59);
    border-radius: 10px;
    font-size: 1.5em;
    /* font-weight: 600; */
    height: 2.5em;
    padding: 0.5em;
    /* margin: 1.5em;      margin: 1em; */
    width: 5em;
}


.play-buttons:first-child {
    background-color: rgb(218, 245, 218);
    border: solid 3px rgb(59, 148, 59);
}

.play-buttons:focus {
    background-color: rgb(59, 148, 59);
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
}



/* Media Queries */


@media (max-width:480px) {

    .level-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.8em;
        grid-row-gap: 1em;
        margin: 1em 4em;
    }

    
}

@media (max-width:400px) {

    .level-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.8em;
        grid-row-gap: 1em;
        margin: 1em 3em;
    }

    .level-buttons button {
        font-size: 1.8em;
        font-weight: 600;
        height: 2.25em;
        width: 2.25em;
    }
    
}

/*  */

