.level-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    grid-row-gap: 1.5em;
    margin: 1em 4em;
}

.level-buttons button {
    border: solid 5px rgb(59, 148, 59);
    border-radius: 10px;
    font-size: 2em;
    font-weight: 600;
    height: 2.5em;
    width: 2.5em;
}

.level-buttons button:focus {
    background-color: rgb(85, 212, 98);
    color: maroon;
    /* font-size: 1.85em; */
    /* height: 2.4em; */
    /* width: 2.5em;  */
}


.hidden {
    visibility: hidden;
}

/* Play component */
.answer-buttons {
    margin: 1em;
}

.questions {
    background-color: lightsalmon ;
    font-size: 2em;
    margin: auto;
    padding: 0.5em;
    width: 10em;
}

.play-buttons {
    background-color: rgb(59, 148, 59);
    /* border: solid 5px rgb(59, 148, 59); */
    border-radius: 10px;
    font-size: 2em;
    font-weight: 600;
    height: 2em;
    width: 3em;
}


.play-buttons:focus {
    background-color: rgb(174, 238, 174);
    border: solid 5px rgb(59, 148, 59);
}


/* Media Queries */


@media (max-width:480px) {

    .level-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.8em;
        grid-row-gap: 1em;
        margin: 1em 4em;
    }

    
}

@media (max-width:400px) {

    .level-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0.8em;
        grid-row-gap: 1em;
        margin: 1em 3em;
    }

    .level-buttons button {
        font-size: 1.8em;
        font-weight: 600;
        height: 2.25em;
        width: 2.25em;
    }
    
}

/*  */

