* {
    margin: 0;
    padding: 0;
}


.App-header {
  background-color: rgb(9, 179, 26);
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 1.75em;
  /* font-size: 1.75em;  at largest screen*/
  color: black;
  padding: 0 0.5em;
}

.App-header h1 {
    /* margin-right: 2em; */
    padding-left: 1em;
}

.App-link {
  color: #61dafb;
}


/* style Home page button */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home>p {
    margin: 2em 1em 4em;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin: 1em 2em 2.5em;
}

.buttons button {
    border: solid 3px rgb(59, 148, 59);
    font-size: 2em;
    font-weight: 700;
    height: 2em;
    width: 2em;
}

.buttons button:focus {
    border: solid 4px maroon;
    border-radius: 2px;
}

.buttons div {
    background-color: rgb(85, 212, 98);
    display: flex;
    flex-direction: row;
    
}

/* div.selected {
    background-color: chocolate;
    font-weight: 600;
} */

.buttons p {
    padding: 1.2em  0.7em 1em;
    vertical-align: middle;
}


.play {
    color: black;
    font-weight: bold;
    background-color: rgb(9, 179, 26);
    border-radius: 35px;
    font-size: 2.5em;
    height: 4em;
    width: 6em;
}


h2, h3 {
    margin: 1em 2em 0.5em;
}

.start {
    margin: auto;
    width: 50%;
}

.start button {
    color: black;
    font-weight: bold;
    background-color: rgb(9, 179, 26);
    border-radius: 35px;
    font-size: 2em;
    height: 2.5em;
    width: 5em;
    margin-top: 0.4em;
    
}


/* Results Screen */

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.results > .play {
    height: 3em;
    margin: 1.5em 0;
}

.results > div {
    font: normal bold 1.25em Arial;
    margin: 1em;
}




@media (max-width:800px) {
    .App-header{
        font-size: 1.2em;
    }

    .App-header h1 {
        padding-left: 1em;
    }
}

@media (max-width:480px) {
    .App-header{
        font-size: 1.2em;
    }

    .App-header h1 {
        padding-left: 0.4em;
    }
    
    .buttons button {
        font-size: 1.5em;
        font-weight: 600;
        height: 2em;
        width: 2em;
    }
    
    .buttons div {
        max-width: 40vw;
    }
    
    .buttons p {
        padding: 0.8em  0.5em;
    }

}


@media (max-width:350px) {

    .App-header{
        font-size: 1em;
    }


    .buttons button {
        font-size: 1.3em;
    }
    
    .buttons p {
        font-size: 0.9em;
        padding: 0.8em  0.4em;
    }
}


/*  */
