* {
    margin: 0;
    padding: 0;
}


.App-header {
  background-color: rgb(9, 179, 26);
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75em;
  color: black;
  padding: 0 0.5em;
}

.App-link {
  color: #61dafb;
}
